<div id="about" class="sidebar">
	<span class="badge badge-inverse"><h4 class="sidetitle">About</h4></span>
	<img class="img-rounded img-responsive" title="Sam Chaffee" src="/img/mebackpack.jpg" alt="Sam Chaffee" />
	<p>Hi, I'm Sam Chaffee and this is my blog. Currently, I work as a software developer for <a title="Moodlerooms" href="http://www.moodlerooms.com">Moodlerooms</a> architecting, developing, testing and documenting <a title="Moodle" href="https://moodle.org/">Moodle</a> plugins and other features. I have a background in natural resources planning and GIS and those are areas in which I'm still interested.</p>

	<p>You can also find me these places: <a title="Twitter" href="https://twitter.com/#!/samchaffee">@samchaffee</a> on Twitter, on <a title="github" href="https://github.com/samchaffee">github</a>, and on <a title="Linkedin" href="http://www.linkedin.com/in/samchaffee">Linkedin</a>.</p>
</div>