<div id="about" class="sidebar">
	<span class="badge badge-inverse"><h4 class="sidetitle">About</h4></span>
	<img class="img-rounded img-responsive" title="Sam Chaffee" src="/img/mebackpack.jpg" alt="Sam Chaffee" />
	<p>Hi. I'm Sam Chaffee and I started this blog to share some of the things I've learned in my time as a Moodle developer at <a title="Moodlerooms" href="http://www.moodlerooms.com">Moodlerooms, Inc.</a>, explore new/existing web technologies that pique my interest, and maybe even wax philosophically about the role that the Internet and technology in general should/can/will play in making positive change in our society and world.</p>
	<p>You can also find me these places: <a title="Twitter" href="https://twitter.com/#!/samchaffee">@samchaffee</a> on Twitter, on <a title="github" href="https://github.com/samchaffee">github</a>, and on <a title="Linkedin" href="http://www.linkedin.com/in/samchaffee">Linkedin</a></p>
</div>