<div id="about" class="sidebar">
	<span class="badge badge-inverse"><h4 class="sidetitle">About</h4></span>
	<img class="img-rounded img-responsive" title="Sam Chaffee" src="/img/mebackpack.jpg" alt="Sam Chaffee" />
	<p>Hi, I'm Sam Chaffee and this is my blog. Currently, I work as a software engineering director for <a title="Open LMS" href="https://www.openlms.net">Open LMS</a>. I have a background in natural resources planning and GIS and those are areas in which I'm still interested.</p>

	<p>You can also find me these places: <a title="Twitter" href="https://twitter.com/samchaffee">@samchaffee</a> on Twitter, on <a title="github" href="https://github.com/samchaffee">github</a>, and on <a title="Linkedin" href="http://www.linkedin.com/in/samchaffee">Linkedin</a>.</p>
</div>
